<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pealipala.manager.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.pealipala.bean.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pealipala.bean.Role" >
    insert into t_role (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pealipala.bean.Role" >
    update t_role
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name
    from t_role
  </select>
  <select id="queryRoleCount" resultType="int">
    select count(*) from t_role
    <where>
      <if test="queryText!=null">
        name like concat('%',#{queryText},'%')
      </if>
    </where>
  </select>

  <select id="pageQuery" resultType="Role">
    select * from t_role
    <where>
      <if test="queryText!=null">
        name like concat('%',#{queryText},'%')
      </if>
    </where>
    limit #{startIndex}, #{pagesize}
  </select>

  <delete id="batchDeleteRole">
    delete from t_role
    where id  in
    <foreach collection="datas" open="(" close=")" separator="," item="role">
      #{role.id}
    </foreach>
  </delete>

  <delete id="deleteByRoleid" parameterType="int">
    DELETE from t_role_permission where roleid=#{roleid}
  </delete>
</mapper>